@font-face {
    font-family: charter;
    src: url(./fonts/charter-regular.otf);
    font-style:  normal;
    font-weight: normal;

}

@font-face {
    font-family: charter;
    src: url(./fonts/charter-italic.otf);
    font-style:  italic;
    font-weight: normal;
}
@font-face {
    font-family: charter;
    src: url(./fonts/charter-bold.otf);
    font-style:  normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url(./fonts/charter-bold-italic.otf);
    font-style:  italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --gray10: #616161;
    --gray20: #212429;
    --gray30: #212121;

}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* font-family: charter; */
    
}

a{
    color: var(--gray30);
}
header {
    font-size: 14px;
    color: var(--gray10);
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
}

h1 {
    font-size: 60px;
    margin: 64px 16px;
    border: 1px solid red;
}

/* h1 + p {
   
    margin-bottom: 64px;
} */

hr {
    margin: 64px 0;
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: normal;
    width: 300px;
    padding: 20px;
    border: 1px solid red;
    box-sizing: border-box;
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: roboto;
    line-height: 24px;
}

blockquote span{
    color: var(--gray10);
}

blockquote span::before{
    content: '-';
}

/* .main { */
    /* background-image: linear-gradient(to top, rgba(255,255,255, .3), transparent), url(./imagenes/div1.png); */
   
    /* background: purple; */
/* } */
.main-content{
    background: white;
    padding: 20px;
}

.wrapper {
    width: 902px;
    margin: auto;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);
}

.hero {
    background-image: linear-gradient(to top, rgba(255,255,255, .3), transparent), url(./imagenes/div1.png);
    height: 350px;
    
}

.section-content{ 
    margin-top: 164px;
}
.section-content:first-of-type{
    margin: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
   
    margin-bottom: 16px;
}

.section-content + hr{
    display: none;

}

.section-content img {
    margin-top: 40px;
}

.section-content {
    counter-reset: titlelist;
}

.section-content h3 {
    counter-increment: titlelist;
    padding-bottom: 4px;
   
}

.section-content h3::before {
    content: counter(titlelist, decimal)'. ';
}

.section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--gray30);
    display: block;
}